@import 'variables';

.office-hours-hide {
  display: none;
}

.add-btn {
  float: right;
}

.del-btn {
  float: right;
}

.office-hours-slot {
  td {

    &:nth-child(3n) {
      input {
        width: 300px;
      }
    }
  }
}
